.my_addr_back {
    -fx-background-color: #777777;
}

.my_addr_back:hover {
    -fx-background-color: #1c94cf;
}

.my_addr_url:hover {
    -fx-background-color: #dce9f1;
}

.my-tooltip {
    -fx-background-color: white;
    -fx-background-radius: 2.0;
    -fx-text-fill:rgb(87, 87, 87);
    -fx-effect: dropshadow(three-pass-box, rgb(142, 142, 142), 5,0, 2, 2);
}

.my-text-field {
    -fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
    -fx-background-radius: 4;
}

.my-windows {
    -fx-background-color: white;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color: rgb(183, 183, 183);
    -fx-border-width: 0.5;
    -fx-effect: dropshadow(three-pass-box, rgb(142, 142, 142), 10,0, 2, 2);
}

.my-te {
    -fx-background-color: red;
    -fx-background-radius: 20 0 20 0;
    -fx-border-radius: 20 0 0 20;
    -fx-border-color: rgb(183, 183, 183);
    -fx-border-width: 0.5;
    -fx-effect: dropshadow(three-pass-box, rgb(142, 142, 142), 10,0, 2, 2);
}


.top_border {
    -fx-border-width: 1px;  /* 上边框宽度 */
    -fx-border-color: rgba(191, 203, 217,0.5) transparent transparent transparent; /* 上边框颜色 */
    -fx-border-top-style: solid;
}

.my_menu_context {
    -fx-font-size: 14;
}

.my_menu_context:hover {
    -fx-background-color: rgba(231, 231, 231, 0.8);
}

.my_icon {
    -fx-border-color: transparent;
    -fx-border-width: 1px;
}

.my_icon:hover {
    -fx-background-color: rgba(229, 243, 255,1);
}

.my_icon_click {
    -fx-background-color: rgba(204, 232, 255, 1);
    -fx-border-color: rgb(153, 209, 255);
    -fx-border-width: 1px;
}

.my_disabled .label {
    -fx-text-fill: #8d8d8d;
}

.my_tabs {
    -fx-background-color: rgb(216, 218, 219);
}

.my_tabs:hover {
    -fx-background-color: rgb(213, 208, 206);
}

.my_tabs_active,.my_tabs_active:hover {
    -fx-background-color: rgb(246, 243, 243);
}

.my_tabs_hbox {
    -fx-alignment: center-left;
}

.my_tabs > .my_tabs_hbox > .label {
    -fx-text-overrun: ellipsis;
}

.my_tabs_close {
    -fx-alignment: center;
    -fx-pref-width: 20;
    -fx-pref-height: 20;
}

.my_tabs_close:hover {
    -fx-background-color: rgba(229, 229, 229, 0.5);
    -fx-background-radius: 5;
}