<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tom.mapper.FileRecordMapper">
    <select id="selectListByRelativeLocation" resultType="FileRecord">
        select * from file_record_table
        <where>
            <if test="relativePath != null and relativePath !=''">
                relative_location = #{relativePath}
            </if>
            and deleted = 0
        </where>
    </select>

    <select id="selectByRlAndFn" resultType="FileRecord">
        select * from file_record_table
        <where>
            relative_location = #{relativePath}
            and file_name = #{filename}
            and deleted = 0
        </where>
    </select>

    <insert id="insert" parameterType="FileRecord">
        insert into file_record_table (file_name,
            <if test="relativeLocation != null and relativeLocation != ''">relative_location,</if>
                last_modified,
            <if test="md5 != null and md5 != ''">md5,</if>
            <if test="remotePath != null and remotePath != ''">remote_path,</if>
                record_type,size)
            values (
                    #{fileName},
            <if test="relativeLocation != null and relativeLocation != ''">#{relativeLocation},</if>
                    #{lastModified},
            <if test="md5 != null and md5 != ''">#{md5},</if>
            <if test="remotePath != null and remotePath != ''">#{remotePath},</if>
                    #{recordType},#{size}
            )
    </insert>

    <update id="updateById" parameterType="FileRecord">
        update file_record_table
        <set>
            file_name = #{fileName},
            relative_location = #{relativeLocation},
            md5 = #{md5},
            last_modified = #{lastModified},
            `size` = #{size}
        </set>
        where id = #{id}
    </update>

    <select id="selectListByMd5AndSize" resultType="FileRecord">
        select * from file_record_table
        <where>
            md5 = #{md5}
            and `size` = #{size}
        </where>
    </select>

    <update id="tempRemoveBatch" parameterType="FileRecord">
        update file_record_table set
            deleted = 1
        where id in
        <foreach collection="fileRecords" item="it" separator="," open="(" close=")">
            #{it.id}
        </foreach>
    </update>

    <update id="selectByFilenameAnd" parameterType="LocalFileRecord">
        update file_record_table set
        deleted = case
        <foreach collection="fileRecords" item="item">
            when file_name=#{item.fileName} and relative_location=#{item.relativeLocation}
            then 1
        </foreach>
        else 0 end
        where file_name in
        <foreach collection="fileRecords" item="it" separator="," open="(" close=")">
            #{it.fileName}
        </foreach>
    </update>

    <select id="selectListByRlAndFn" parameterType="LocalFileRecord" resultType="FileRecord">
        <foreach collection="fileRecords" item="item" separator="union all">
            select * from file_record_table
            <where>
                relative_location = #{item.relativeLocation}
                and file_name = #{item.fileName}
                and deleted = 0
            </where>
        </foreach>
    </select>
</mapper>