<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tom.mapper.FileRecordMapper">
    <select id="selectList" resultType="com.tom.entity.FileRecord">
        select * from file_record_table where 1=1
    </select>
</mapper>