<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tom.mapper.RemoteOperateHistoryMapper">

    <update id="createTableIfNotExist">
        CREATE TABLE `file_operate_history`
        (
            `id`              bigint NOT NULL AUTO_INCREMENT,
            file_name         varchar(255)                                  not null,
            relative_location varchar(255)    default '/'                   not null,
            last_modified     datetime        default '1993-04-16 00:00:00' not null comment '本地文件的最后修改时间',
            md5               varchar(100)    default ''                    not null comment '文件md5',
            remote_path       varchar(255)    default ''                    not null comment 'oss文件路径',
            record_type       int             default 0                     not null comment '0-文件，1-目录',
            size              bigint unsigned default 0                     not null comment '文件大小',
            operate_time      datetime NOT NULL DEFAULT CURRENT_TIMESTAMP   ON UPDATE CURRENT_TIMESTAMP COMMENT '操作时间',
            operate           varchar(10)     default 'push，deleted'                not null comment '远端文件操作，push推送，delete删除',
            operator          varchar(64)     default ''                    not null comment '操作设备',
            PRIMARY KEY (`id`),
            KEY `file_name_IDX` (`file_name`,relative_location,`md5`) USING BTREE,
            KEY `date_IDX` (`operate_time`) USING BTREE
        ) ENGINE = InnoDB AUTO_INCREMENT = 0 DEFAULT CHARSET = utf8mb4;
    </update>

    <insert id="insert" parameterType="RemoteOperateHistory">
        insert into file_operate_history (file_name,
        <if test="relativeLocation != null and relativeLocation != ''">relative_location,</if>
        last_modified,
        <if test="md5 != null and md5 != ''">md5,</if>
        <if test="remotePath != null and remotePath != ''">remote_path,</if>
        record_type,size,operate,operator)
        values (
        #{fileName},
        <if test="relativeLocation != null and relativeLocation != ''">#{relativeLocation},</if>
        #{lastModified},
        <if test="md5 != null and md5 != ''">#{md5},</if>
        <if test="remotePath != null and remotePath != ''">#{remotePath},</if>
        #{recordType},#{size},#{operate},#{operator}
        )
    </insert>

    <insert id="saveBatch" parameterType="RemoteOperateHistory">
        insert into file_operate_history (file_name,
        relative_location,remote_path,last_modified,md5,record_type,size,operate,operator)
        values
        <foreach collection="fileRecords" item="item" separator=",">
            (#{item.fileName},#{item.relativeLocation},#{item.remotePath},#{item.lastModified},#{item.md5},
             #{item.recordType},#{item.size},#{item.operate},#{item.operator})
        </foreach>
    </insert>

    <select id="selectByMd5AndFilenameDel" resultType="RemoteOperateHistory">
        select * from file_operate_history
        where md5 = #{md5}
          and file_name = #{filename}
          and relative_location = #{relativePath}
          and operate = 'delete'
        order by id desc
        limit 1
    </select>
</mapper>